.pin {
  width: 275px;
  height: 300px;
  border-radius: 15px;
  border: 3px solid green;
  background-color: aqua;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  color: black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
